.dropdown {
	position: absolute;
	margin-top: 0.3rem;
	top: 76px;
	right: 17rem;
	width: 120px;
	background: #fff;
	box-shadow: 0px 4px 10px #0505051a;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.menu_item {
	height: 39px;
	display: flex;
	align-items: center;
	border-radius: 10px;
	justify-content: center;
	color: #050505;
	text-decoration: none;
	transition: background #fff;
	-webkit-transition: background #fff;
	-moz-transition: background #fff;
	-ms-transition: background #fff;
	-o-transition: background #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.menu_item:hover {
	background: #28009b;
	color: #fff;
	transition-duration: 0.5s;
}

/* transform: translateX(-45%) para usar en mobile; */
