.header {
	display: flex;
	height: 120px;
	width: 100%;
	position: sticky;
	border-bottom: 1px solid #0505051e;
	top: 0;
	justify-content: center;
	align-items: center;
	backdrop-filter: saturate(180%) blur(8px);
	-webkit-backdrop-filter: saturate(180%) blur(8px);
	padding: 32px;
	z-index: 999;
}
.header h1 {
	font-size: 25px;
	font-weight: 800;
}
.nav {
	width: 900px;
	align-items: center;
	justify-content: center;
}
.nav_items {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
.dropDownMenu_container {
	display: flex;
	justify-content: center;
	width: 100%;
	height: auto;
}

/*responsive*/

@media screen and (max-width: 540px) {
	.header {
		padding: 0;
		height: 90px;
	}
	.nav {
		margin: 0;
		padding: 0 1rem;
	}
}
@media screen and (max-width: 767px) {
	.header {
		padding: 0;
		height: 90px;
	}
	.nav {
		margin: 0;
		padding: 0 3rem;
	}
	.avatar {
		padding-right: 0rem;
	}

	.logo {
		padding-left: 0rem;
	}
}
@media screen and (max-width: 1199px) {
	.header {
		padding: 0;
		height: 90px;
	}
	.nav {
		margin: 0;
		padding: 0 3rem;
	}
	.avatar {
		padding-right: 0rem;
	}

	.logo {
		padding-left: 0rem;
	}
}
