.header {
	display: flex;
	height: 120px;
	position: sticky;
	border-bottom: 1px solid #0505051e;
	top: 0;
	align-items: center;
	width: 100%;
	backdrop-filter: blur(5px);
	padding: 32px;
}
.header h1 {
	/* font-family: Urbanist, sans-serif; */
	font-size: 25px;
	font-weight: 800;
}
.nav {
	width: 100%;
	align-items: center;
	justify-content: center;
}
.nav_items {
	align-items: center;
	justify-content: space-between;
	width: 100%;
	display: flex;
}

.avatar {
	padding-right: 12rem;
}

.logo {
	padding-left: 12rem;
}
