.welcom_container {
	min-height: 100%;

	padding: 4rem 0 0.5rem 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 600px;
}
.welcom_container > h1 {
	margin-top: 50px;
	margin-bottom: 90px;
	font-size: 85px;
	font-weight: 900;
	letter-spacing: 3px;
}
.welcom_container > span {
	font-size: 25px;
}
.lineBox {
	display: flex;
	justify-content: center;
}
.line1 {
	color: #29009b;
}
.line2 {
}
.line3 {
	padding-left: 1.3rem;
	color: #29009b;
}
.button_contact {
	margin-top: 50px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	background: #050505;
	border-radius: 10px;
	border: none;
	padding: 0 8px;
	width: 140px;
	height: 70px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}
.button_contact > a {
	font-size: 18px;
	color: #fff;
	text-decoration: none;
	outline: none;
	letter-spacing: 0.5px;
}
.button_contact:hover {
	background: #29009b;
	transition: 0.3s ease-in-out;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-ms-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
}
.projects_section_container {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #050505;
	color: #fff;
	width: 100%;
	height: 120px;
	margin: 180px 0;
}
.projects_title > h2 {
	font-size: 42px;
	font-weight: 500;
	letter-spacing: 2px;
}

/* @media (max-width: 600px) {
	.welcom_container {
		width: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
} */
