.welcome_container {
	min-height: 100%;
	padding: 4rem 0 0.5rem 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 610px;
}
.welcome_container > h1 {
	margin-top: 50px;
	margin-bottom: 90px;
	font-size: 85px;
	font-weight: 900;
	letter-spacing: 3px;
}
.welcome_container > span {
	font-size: 25px;
}
.lineBox {
	display: flex;
	justify-content: center;
}
.line1 {
	color: #29009b;
}
.line2 {
	font-weight: 500;
	letter-spacing: 2px;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: #050505;
}
.line3 {
	padding-left: 1.3rem;
	color: #29009b;
}
.button_contact {
	margin-top: 50px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	background: #050505;
	border-radius: 10px;
	box-shadow: 0px 4px 10px #05050533;
	border: none;
	padding: 0 8px;
	width: 140px;
	height: 70px;
	transition: 0.3s ease-in-out;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}
.button_contact > a {
	font-size: 18px;
	color: #fff;
	text-decoration: none;
	outline: none;
	letter-spacing: 0.5px;
}
.button_contact:hover {
	background: #29009b;
	transition: 0.3s ease-in-out;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-ms-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
}
.projects_section_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
	margin: 180px 0;
}
.projects_title {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #050505;
	color: #fff;
	height: 120px;
	box-shadow: 0px 4px 10px #0505056b;
	width: 100%;
	letter-spacing: 4px;
}
.projects_title > h2 {
	font-size: 42px;
	font-weight: 500;
}

.projects_container {
	height: auto;
	width: 900px;
	margin: 2rem 0;
}
.project {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: 5rem;
	margin-bottom: 3rem;
}

/*mobile*/

@media screen and (max-width: 540px) {
	.welcome_container {
		min-height: 100%;
		padding: 4rem 0 0 0;
		display: flex;
		width: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 410px;
	}
	.welcome_container > h1 {
		margin-top: 50px;
		margin-bottom: 90px;
		font-size: 34px;
		font-weight: 900;
		letter-spacing: 1px;
	}
	.welcome_container > span {
		font-size: 16px;
	}

	.line2 {
		font-weight: 500;
		letter-spacing: 2px;
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke-width: 3px;
		-webkit-text-stroke-color: #050505;
	}
	.line3 {
		padding-left: 0.5rem;
		color: #29009b;
	}

	.projects_section_container {
		margin: 110px 0;
	}

	.projects_container {
		height: auto;
		width: 100%;
		margin: 2rem 0;
	}
}
