.skills_container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 0 3rem 0;
	flex-direction: column;
	width: 100%;
	min-height: 78.5vh;
}
.skills_title {
	margin: 0 0 2rem 0;
}

.skills_box {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 900px;
}
.skill {
	background: #28009b;
	width: 200px;
	height: 148px;
	margin: 0.6rem;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	filter: grayscale(100);
	-webkit-filter: grayscale(100);
	transition: ease-in-out 0.5s;
	-webkit-transition: ease-in-out 0.5s;
	-moz-transition: ease-in-out 0.5s;
	-ms-transition: ease-in-out 0.5s;
	-o-transition: ease-in-out 0.5s;
	border-radius: 8px;
}
.skill:hover {
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	transition: ease-in-out 0.5s;
	-webkit-transition: ease-in-out 0.5s;
	-moz-transition: ease-in-out 0.5s;
	-ms-transition: ease-in-out 0.5s;
	-o-transition: ease-in-out 0.5s;
}
.icon {
	display: flex;
	align-items: center;
	height: 45%;
}
.name {
	font-size: 1.25rem;
	color: #fff;
}
.year {
	font-size: 1rem;
	color: #fff;
}

@media screen and (max-width: 1199px) {
	.skills_container {
		margin: 1.5rem 0 3rem 0;
	}
	.skills_box {
		width: 750px;
	}
}
@media screen and (max-width: 767px) {
	.skills_container {
		margin: 2rem 0;
	}
	.skills_box {
		width: 540px;
	}
}
@media screen and (max-width: 540px) {
	.skills_container {
		margin: 0 0 2rem 0;
	}
	.skills_title > h1 {
		font-size: 1.8rem;
	}
	.skills_box {
		width: 340px;
	}
}
